.blocks
    .block-title
        h2
            @include h4
    .block-page-use-cases
        .list
            article
                .page-title a
                    @include h3
                .media
                    img
                        aspect-ratio: 4/3
                        object-fit: cover

.block-pages
    &--list
        @include in-page-without-sidebar
            .top
                .description p
                    @include body-text
    &--large
        .block-content
            .page
                border-bottom: 1px solid var(--color-text)
                padding-bottom: $spacing-4
                @include in-page-without-sidebar
                    align-items: flex-start
                .media
                    @include in-page-without-sidebar
                        width: columns(5)
                    img
                        aspect-ratio: 1.54/1
            .page-title a
                @include h3
                text-decoration: none
            .page-content
                .page-title
                    font-size: $h3-size-desktop
                    font-weight: $regular
                    @include media-breakpoint-up(desktop)
                        width: columns(6)
                p
                    margin-top: space(4)

                .more
                    @extend .btn
                    @extend .button--small
                    border-top-left-radius: 0
                    margin-top: space(9)
            .page:hover
                .more
                    background-color: var(--btn-hover-background)
                    color: var(--btn-hover-color)

.block-posts
    .grid
        .post-content
            display: flex
            flex-direction: column
            .post-title
                @include h5
                order: -2
            .post-meta
                order: -1

.block-organizations--grid
    .block-content
        .organization
            .organization-content
                text-align: center
            .media
                border-radius: 200px
                padding: space(13)
                margin-bottom: space(5)
                    


.block-key_figures
    ul
        li
            text-align: center
            display: flex
            flex-direction: column
            span
                margin-bottom: $spacing-2
                font-weight: $bold
                strong
                    display: block
                    margin-bottom: $spacing-3
                    @include media-breakpoint-down(desktop)
                        font-size: 100px
            &:nth-child(3n-2)
                span
                    strong
                        color: $color-red
            &:nth-child(3n-1)
                span
                    strong
                        color: $color-green
            &:nth-child(3n)
                span
                    strong
                        color: $color-pink

.block-image
    .block-content
        figure
            picture
                margin-right: 0
                @include media-breakpoint-down(desktop)
                    margin-left: 0
                    margin-right: 0
            button
                width: 100%
    img
        @include style-image
        aspect-ratio: 1.54/1
    &.image-landscape
        img
            @include in-page-with-sidebar
                max-height: none

.block-gallery--grid
    .gallery
        @include media-breakpoint-down(desktop)
            display: flex
            flex-direction: column
            figure
                img
                    @include media-breakpoint-down(desktop)
                        width: revert-layer

.block-siblings-navigation
    .block-content
        .siblings-navigation
            a
                font-weight: $bold

.block
    .block-title
        @include h4

.block-posts--carousel
    .post
        @include media-breakpoint-down(desktop)
            flex-direction: column
            gap: $spacing-2
        display: flex
        flex-direction: row
        gap: $spacing-5
        .post-content
            display: flex
            flex-direction: column
            .post-title
                order: -2
                @include media-breakpoint-up(desktop)
                    width: columns(5)
                a
                    @include h5
            .post-meta
                order: -1
        .media
            overflow: unset
            picture
                @include media-breakpoint-up(desktop)
                    width: columns(3)

.block-pages,
.block-posts,
.block-events,
.block-projects
    .media img
        @include style-image
