$color-green: #74b179
$color-red: #cf624a
$color-pink: #e7c1c8
$color-accent: $color-red

$heading-font-family: "Inter", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 50px
$header-logo-height-desktop: 70px
$header-dropdown-full: true
$hero-background-color: none
$footer-color: white
$footer-background-color: $color-red
$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop