$color-green: #74b179
$color-red: #C04E31
$color-pink: #e7c1c8
$color-grey-green: #B7B7B7
$color-grey-pink: #CACACA
$color-grey-red: #7D7D7D
$color-accent: $color-red
$color-text: #000000
$color-background: #FFFFFF

// Header
$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 50px
$header-logo-height-desktop: 70px
$header-dropdown-full: true
$hero-background-color: none

// Footer
$footer-color: white
$footer-background-color: $color-text
$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop

// Typography
$heading-font-family: "Inter", sans-serif
$body-font-family: $heading-font-family

// Body
$body-size-desktop: pxToRem(20)
$body-size: pxToRem(20)
$body-line-height: 130%
$body-line-height-desktop: 150%
$body-weight: 300%
$body-letter-spacing: normal

// h1
$h1-size-desktop: pxToRem(72)
$h1-size: pxToRem(36)
$h1-line-height: 100%
$h1-line-height-desktop: 100%
$h1-weight: 500%




