.posts__page
    .hero
        .content
            figure
                img
                    @include style-image
                    aspect-ratio: 1.54/1

.pages__section
    .hero
        .content
            border-bottom: 1px solid var(--color-text)
            padding-bottom: space(19)
            @include media-breakpoint-down(desktop)
                display: flex
                flex-direction: column
                align-items: center
            figure
                img
                    margin-top: space(10)
                    margin-bottom: space(20)
                    @include media-breakpoint-up(desktop)
                        width: columns(4)
                    margin-bottom: space(0)
                    padding-bottom: space(0)
                    @include media-breakpoint-up(desktop)
                        width: columns(10)

            .hero-text
                @include media-breakpoint-up(desktop)
                    width: columns(7)
                @include media-breakpoint-down(desktop)
                    text-align: left
                    p
                        font-size: $body-size-desktop

.ancestor-use-cases
    .hero
        &.hero--image-landscape,
        &.hero--image-square
            figure
                @include media-breakpoint-down(desktop)
                    margin-left: 0
                    margin-right: 0
        .content
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
            border-bottom: 1px solid var(--color-text)
            padding-bottom: space(18)
            .hero-text
                @include media-breakpoint-up(desktop)
                    width: columns(10)
                hgroup
                    h1
                        margin-left: auto
                        margin-right: auto
                        @include media-breakpoint-up(desktop)
                            width: columns(8)
                        @include h1
                    > p:first-of-type
                        margin-top: space(9)
            figure
                margin-top: space(15)
                @include media-breakpoint-up(desktop)
                    width: columns(8)
                img
                    @include style-image

.organizations__section
    .hero
        .content
            border-bottom: 1px solid var(--color-text)
            padding-bottom: space(18)
            @include media-breakpoint-down(desktop)
                display: flex
                flex-direction: column
                align-items: center
                padding-bottom: space(3)
            figure
                @include media-breakpoint-up(desktop)
                    width: columns(4)
                @include media-breakpoint-down(desktop)
                    width: columns(8)
                    order: -1
            .hero-text
                @include media-breakpoint-down(desktop)
                    margin-top: space(10)
                    p
                        font-size: $body-size-desktop

.posts__section
    .posts--list
        article
            padding-bottom: 0px // try to create less space between the different posts, but it isn't working
            margin-bottom: $spacing-4
            border-bottom: none
            .post-title
                @include h4
            .media
                grid-column: 1/5
                img
                    @include style-image
                    aspect-ratio: 1.54/1
            .post-content
                grid-column : 5/13
            .post-categories
                li
                    a
                        text-decoration: none

    .hero
        .content
            border-bottom: 1px solid var(--color-text)
            padding-bottom: space(18)
            @include media-breakpoint-up(desktop)
                --h1-size: #{pxToRem(58)}
            figure
                button
                    img
                        @include media-breakpoint-down(desktop)
                            width: columns(12)
                            margin-left: auto
                            margin-right: auto
                            // margin-bottom: space(50)
    .document-content
        .posts
            .post
                @include media-breakpoint-down(desktop)
                    flex-direction: column
                    .media
                        width: fit-content
                        margin-top: space(8)
                        margin-bottom: space(8)
                        order: -1

.organizations__page
    .page-with-blocks
        .hero
            margin-bottom: 0
            padding-bottom: space(5)
            min-height: 0




// Vérifier ce style qui semble obsolète
// .organizations__section
//     .block-content
//         figure
//             img
//                 aspect-ratio: 1.54/1
//                 @include style-image
//                 @include media-breakpoint-up(desktop)
//                     width: columns(8)
//                 @include media-breakpoint-down(desktop)
//                     margin-left: auto
//                     width: columns(12)

.block-sitemap#events,
.block-sitemap#persons
    display: none !important
