.block-pages--list
    @include in-page-without-sidebar
        .top
            .description p
                @include body-text


//.hero
    //.hero-actions
        //.btn
            //@extend .button--small

.hero
    .hero-actions
        .btn
            @extend .button--small
            border-top-left-radius: pxToRem(0)

.block-key_figures
    ul
        li
            text-align: center
            display: flex
            flex-direction: column

            &:nth-child(3n-2)
                span
                    strong 
                        color: $color-red

            &:nth-child(3n-1)
                span
                    strong 
                        color: $color-green
            
            &:nth-child(3n)
                span
                    strong 
                        color: $color-pink

.block-key_figures
    ul
        li
            span
                margin-bottom: $spacing-2
                font-weight: $bold
                font-size: pxToRem(29)

.block-key_figures
    ul
        li
            span
                strong
                    display: block
                    margin-bottom: $spacing-3

.blocks
    .block-pages--large
        .block-content
            .page-title a
                text-decoration: none


.blocks
    .block-pages--large
        .block-content
            .page-content .more
                    @extend .button--small
                    border-top-left-radius: pxToRem(0)

.blocks
    .block-pages--large
        .block-content
            .media img
                border-radius: pxToRem(50)
                border-top-left-radius: pxToRem(0)