.block-pages--list
    @include in-page-without-sidebar
        .top
            .description p
                @include body-text



.hero
    margin-bottom: $spacing-3
    .hero-actions
        .btn
            @extend .button--small
            border-top-left-radius: 0

    .posts__page &
        .content
            figure
                img
                    border-radius: $components-border-radius
                    border-top-left-radius: 0
                    aspect-ratio: 1.54/1
                    object-fit: cover

    .posts__section &
        .content
            border-bottom: 1px solid var(--color-text)
            padding-bottom: space(18)



    .pages__section &
        .content
            border-bottom: 1px solid var(--color-text)
            padding-bottom: space(19)
            // .hero-text
            //     @include media-breakpoint-up(desktop)
            //         width: columns(4)
            figure
                margin-bottom: space(20)
                @include media-breakpoint-up(desktop)
                    width: columns(4)
                margin-bottom: space(0)
                padding-bottom: space(0)


            .hero-text
                @include media-breakpoint-up(desktop)
                    width: columns(7)




    .ancestor-use-cases &
        &.hero--image-landscape,
        &.hero--image-square
            figure
                @include media-breakpoint-down(desktop)
                    margin-left: 0
                    margin-right: 0
        .content
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
            border-bottom: 1px solid var(--color-text)
            padding-bottom: space(18)
            .hero-text
                width: columns(10)
                hgroup
                    > p:first-of-type
                        margin-top: space(9)
            figure
                margin-top: $spacing-3
                @include media-breakpoint-up(desktop)
                    width: columns(8)
                img
                    border-radius: $components-border-radius
                    border-top-left-radius: 0

    .organizations__section &
        .content
            border-bottom: 1px solid var(--color-text)
            padding-bottom: space(18)
            figure
                @include media-breakpoint-up(desktop)
                    width: columns(4)
    .page__home &
        .content
            align-items: center
        hgroup
            display: flex
            flex-direction: column
            h1
                margin-bottom: $spacing-3
                order: -2
            @include media-breakpoint-up(desktop)
                width: columns(11)
                h1
                    width: columns(10)
                    @include media-breakpoint-up(xxl)
                        width: columns(8)
                p
                    width: columns(9)
                &::after
                    content: ""
                    order: -1
                    height: 1px
                    width: 100%
                    background-color: $color-text
            > p:first-of-type
                margin-top: space(10)
        .hero-actions
            margin-top: space(10)
        figure
            margin-right: var(--grid-gutter-negative)

.block-key_figures
    ul
        li
            text-align: center
            display: flex
            flex-direction: column

            &:nth-child(3n-2)
                span
                    strong
                        color: $color-red

            &:nth-child(3n-1)
                span
                    strong
                        color: $color-green

            &:nth-child(3n)
                span
                    strong
                        color: $color-pink

.block-key_figures
    ul
        li
            span
                margin-bottom: $spacing-2
                font-weight: $bold

.block-key_figures
    ul
        li
            span
                strong
                    display: block
                    margin-bottom: $spacing-3
.block-image
    &.image-landscape
        img
            @include in-page-with-sidebar
                max-height: none
    .block-content
        figure
            picture
                margin-right: 0

            button
                width: 100%

.block-pages--large
    .block-content
        .page
            border-bottom: 1px solid var(--color-text)
            padding-bottom: $spacing-4
            @include in-page-without-sidebar
                align-items: flex-start
            .media
                @include in-page-without-sidebar
                    width: columns(5)
                img
                    aspect-ratio: 1.54/1
        .page-title a
            @include h3
            text-decoration: none
        .page-content
            .page-title
                font-size: $h3-size-desktop
                font-weight: $regular
                @include media-breakpoint-up(desktop)
                    width: columns(6)
            p
                margin-top: space(4)

            .more
                @extend .btn
                @extend .button--small
                border-top-left-radius: 0
                margin-top: space(9)
        .page:hover
            .more
                background-color: var(--btn-hover-background)
                color: var(--btn-hover-color)

.block-posts
    // .block-title h2
    //     text-transform: $h4-text-transform
    .grid
        .post-content
            display: flex
            flex-direction: column
            .post-title
                @include h5
                order: -2
            .post-meta
                order: -1



.page__home
    &.full-width
        .block-pages--grid
            .grid
                @include grid(4,desktop)
                .page
                    .page-title
                        @include h5
                        ::after
                            display: none
                    p
                        margin-top: space(5)


.block-siblings-navigation
    .block-content
        .siblings-navigation
            a
                font-weight: $bold

.blocks
    .block-title
        h2
            @include h4

.posts__section
    .posts--list
        article
            border-bottom: none
            .post-title
                @include h4
            .media
                @include media-breakpoint-up(desktop)
                    width: columns(4)
                img
                    border-radius: $components-border-radius
                    border-top-left-radius: 0
                    aspect-ratio: 1.54/1
                    object-fit: cover


.organizations__page
    .page-with-blocks
        .hero
            margin-bottom: 0
            padding-bottom: space(5)
            min-height: 0
.pages__section
    .block-pages
        .block-content
            .page
                .page-title
                        @include h5


.block-pages,
.block-posts,
.block-events,
.block-projects
    .media img
        border-radius: $components-border-radius
        border-top-left-radius: 0
