<div class="container">
  <div class="footer-logo">
    {{ partial "footer/logo.html" }}
  </div>
  <div class="footer-site">
    {{ partial "footer/site.html" }}
  </div>
  
  <div class="footer-logos">
    <div class="footer-logos-1">
      <img src="/assets/images/logo-partners/caissedesdepots.svg" alt="Logo de la caisse des depots et de la banque des territoires" height="60" width="200" loading="lazy">
    </div>
    <div class="footer-logos-2"> 
      <img src="/assets/images/logo-partners/gouv.svg" alt="Logo du gouvernement francais" height="60" width="60" loading="lazy">
      <img src="/assets/images/logo-partners/france2030.svg" alt="Logo de France 2030" height="60" width="60" loading="lazy">
    </div>
  </div>

</div>

<div class="container">
  <div class="footer-social">
    {{ partial "footer/social.html" . }}
  </div>
  <div class="footer-legals">
    {{ partial "footer/legals.html" . }}
    {{ if and site.Params.search.active (in site.Params.search.positions "footer") }}
      <div class="footer-search">
        {{ partial "commons/search/button.html" "footer" }}
      </div>
    {{ end }}
    {{ partial "footer/credit.html" . }}
  </div>
</div>
